//---------------------------------------------------
//              GENERAL PURPOSE VARS
//---------------------------------------------------
$primary-color: #5a912e;
$error-color: #e74c3c;
$border-color-light: #c0c0c0;
$bg-color-light:#f4f4f4;
$bg-box-color:#fff;
//---------------------------------------------------
//              FONTS
//---------------------------------------------------
$primary-font-color: #333;
$font-stack: 'Arial', sans-serif;