@import "./variables";

.filters{
    border: 1px solid $border-color-light;
    .filter{
        padding: .5rem;
    }
    label{
        margin-left: 1.5rem;
        margin-right: .5rem;
    }
    h6{
        text-decoration: underline;
        text-underline-offset: 0.2rem;
        font-size: 1.2rem;
        color: $primary-color;
        margin: 0.5rem 1.5rem 0.5rem 1.5rem;   
    }
    option{
        font-size: 1.1rem;
        color: $primary-color;
        background-color: $bg-color-light;
        border: 1px solid $border-color-light;
        border-radius: 5px;
        padding: 0.5rem;
        margin: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s;
    
    }
}
