@import '../variables';

.table-responsive {
    margin: 1.5em;
    // width: 100%;
    overflow-x: auto;
    border: 1px solid $border-color-light;
}
.table-row {
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: lighten($primary-color, 40%);
    }
  }
.interactive-table {
    width: 100%;
    border-collapse: collapse;
}

.interactive-table th,
.interactive-table td {
    border: 1px solid $border-color-light;
    padding: 8px;
}

.interactive-table th {
    background-color: rgba($bg-box-color, 0.30);
    color: $primary-font-color;
    font-family: $font-stack;
    font-size: 1rem;
    text-align: center;
}