@import '../variables';

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.interactive-table {
    width: 100%;
    border-collapse: collapse;
}

.interactive-table th,
.interactive-table td {
    border: 1px solid $border-color-light;
    padding: 8px;
}

.interactive-table th {
    background-color: rgba($primary-color, 0.30);
    color: $primary-font-color;
    font-family: $font-stack;
    text-align: center;
}