@import '../variables';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lighten($primary-color, 20%); // Soften the primary color
  padding: 1rem 2rem;
  font-family: $font-stack;
  color: #333; // Change to black text

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-left: 2rem;

      a {
        color: #333; // Change to black text
        text-decoration: none;
        font-size: 1.1rem;
        transition: color 0.3s ease;

        // &.active,
        &:hover {
          color: #ffffff; // Change to grey on hover
        }
      }
    }
  }

  .nav-right {
    position: relative;

    .user-info-button {
      background: none;
      border: none;
      color: #333; // Change to black text
      font-size: 1.1rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: color 0.3s ease;
      margin-right: 1rem;
      &:hover {
        color: #ffffff; // Change to grey on hover
      }
    }

    .dropdown-menu {
      position: absolute;
      top: 100%;
      right: 0;
      background: lighten($primary-color, 20%);
      border: 1px solid $primary-color;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      width: 200px;

      a,
      .logout-button {
        color: #333; // Change to black text
        text-decoration: none;
        font-size: 1.1rem;
        padding: 0.5rem 0;
        transition: color 0.3s ease;

        &:hover {
          color: #ffffff; // Change to grey on hover
        }
      }

      .logout-button {
        background: none;
        border: none;
        text-align: left;
        cursor: pointer;
      }
    }
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-right {
    .dropdown-menu {
      width: 100%;
    }
  }
}